@charset "utf-8";
body {
	color:#2e3532;
	font-family: 'Gill Sans MT', 'Trebuchet MS', 'Gill Sans', Calibri, sans-serif, "Courier New", monospace;
	background:#E3E0DE repeat-y center center;
}
html, .main {
	padding:0;
	margin:0;
}
.main {
	background:no-repeat center top;
}

h1 {
	margin:0;
	padding:0 0 0 30px;
	color:#76a0b0;
	/* font:normal 60px/1.2em Arial, Helvetica, sans-serif; */
	letter-spacing:-3px;
}
h1 span {
	color:#595959;
}
h1 a, h1 a:hover {
	color:#76a0b0;
	text-decoration:none;
}
h1 small {
	display:block;
	padding-left:160px;
	/* font:normal 12px/1.2em Arial, Helvetica, sans-serif; */
	color:#959595;
	letter-spacing:normal;
}
h2 {
	/* font:normal 24px/1.5em Arial, Helvetica, sans-serif; */
	padding:8px 0;
	margin:8px 0;
	color:#323a3f;
}
p {
	margin:8px 0;
	padding:0 0 8px 0;
	font:normal 15px/1.8em;
}
p.spec {
	text-align:left;
	border-bottom:1px solid #efefef;
}
a {
	color:#76a0b0;
	text-decoration:underline;
}

.header {
	height: 40px;
}

.content, .fbg, .footer, form, ol, ol li, ul, .content .mainbar, .content .sidebar {
	margin:0;
	padding:0;
}

.header_resize {
	margin:0 auto;
	padding:0;
	width: 50%;
	height:80px;
}
.menu_nav {
	float:left;
	margin:0;
	padding:0 0 0px 0px;
	height:25px;
	background:repeat-x center top;
}
.menu_nav ul {
	list-style:none;
}
.menu_nav ul li {
	margin:0 40px 0 0;
	padding:0;
	float:left;
}
.menu_nav ul li a {
	display: inline-block;
  	position: relative;
	margin:0;
	padding: 10px 10px 10px 0;
	color:#2e3532;
	text-decoration:none;
	font-size:19px;
}

.menu_nav ul li a:after {
	background: none repeat scroll 0 0 transparent;
	bottom: 0;
	content: "";
	display: block;
	height: 3px;
	left: 0%;
	position: absolute;
	background: #960200;
	transition: width 0.3s ease 0s, left 0.3s ease 0s;
	width: 0;
}

.menu_nav ul li a:hover:after { 
	width: 80%; 
	left: 0; 
}

.bottom_menu_nav {
	float:left;
	margin:0;
	padding:0 0 0px 0px;
	height:49px;
	/* background:repeat-x center top; */
}

.bottom_menu_nav ul {
	list-style: none;
}

.bottom_menu_nav ul li {
	margin:10px 10px 10px 2px;
	float:left;
}

.bottom_menu_nav ul a li{
	color:#2e3532;
}

.profile {
	position: relative;
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 25%;
	border-radius: 50%;
}

.image {
	position: relative;
	display: block;
	margin-left: auto;
	margin-right: auto;
}


.content_resize {
	margin: auto;
	width:50%;
}
.content .mainbar {
	margin:0;
	padding:0;
	float:left;
	width:970px;
	background-color:#E3E0DE;
}
.content .mainbar img {
	border:1px solid #d8dbdc;
}
.content .mainbar img.fl {
	margin:4px 16px 4px 0;
	float:left;
}
.content .mainbar .article {
	font-size: medium;
	margin:0;
	
	/* padding:8px 24px 8px 40px; */
}
.content .sidebar {
	padding:0;
	float:right;
	width:300px;
}
.content .sidebar .gadget {
	margin:0;
	padding:8px 16px 8px 40px;
}

.title {
	font-size: 5em;
	text-align: center;
	/* padding:8px 16px 8px 40px; */
}

.title_2 {
	/* font: monospace; */
	/* font-size: 1em; */
	text-align: center;
	padding: 0 0 30px;
}

.skills {
	padding-left: 80px;
	/* padding: 0px 10px 0px 80px */
}

.footer_resize {
	/* margin:auto; */
	padding: 0;
	/* padding:26px; */
	/* width:922px; */
	/* background:url(images/footer_bg.gif) repeat-x center top; */
}
